/* ======================================
            TABLET (iPad)
====================================== */

@media (max-width: 1024px) {
  .container {
    padding: 0 24px;
  }

  /* Header */

  .nav-menu {
    gap: 16px;
  }

  /* Hero */

  .hero-title {
    font-size: 38px;
  }

  .hero-description {
    font-size: 18px;
  }

  /* Menu */

  .menu-list {
    grid-template-columns: repeat(2, 1fr);
    padding: 0;
  }

  /* About */

  .about-content {
    grid-template-columns: 1fr;
    gap: 40px;
  }

  /* Gallery */

  .gallery-grid {
    grid-template-columns: 1fr;
  }

  .gallery-left {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
  }

  /* Modal */

  .modal-menu-list {
    grid-template-columns: repeat(2, 1fr);
  }

  /* Footer */

  .footer-content {
    flex-direction: column;
    gap: 25px;
    text-align: center;
  }

  .footer-info {
    width: 100%;
    flex-direction: column;
    gap: 10px;
  }
}

/* ======================================
              MOBILE
====================================== */

@media (max-width: 768px) {
  .container {
    padding: 0 16px;
  }

  /* Header */

  .menu-btn {
    display: block;
    font-size: 28px;
    border: none;
    background: transparent;
    cursor: pointer;
  }
  .nav-menu {
    display: none;
  }
  .mobile-menu {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: -280px;
    width: 260px;
    height: 100vh;
    background: white;
    padding-top: 80px;
    transition: 0.3s;
    z-index: 1001;
  }

  .mobile-menu.active {
    left: 0;
  }

  .mobile-link {
    padding: 18px 24px;
    color: black;
    border-bottom: 1px solid #ddd;
  }

  .mobile-link:hover {
    background: #f3f3f3;
  }

  /* OVERLAY */

  .overlay {
    display: block;
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
    z-index: 1000;
  }

  .overlay.active {
    opacity: 1;
    visibility: visible;
  }

  /* Hero */

  .hero {
    height: 80vh;
  }

  .hero-content {
    height: 80vh;
  }

  .hero-title {
    font-size: 32px;
  }

  .hero-description {
    font-size: 16px;
  }

  .btn-primary {
    width: 100%;
  }

  /* Section */

  .section-title {
    font-size: 28px;
  }

  /* Menu */

  .menu-list {
    grid-template-columns: 1fr;
    padding: 0;
  }

  /* About */

  .about {
    padding: 20px 0;
  }

  .about-content {
    grid-template-columns: 1fr;
    padding: 25px;
    gap: 25px;
  }

  .feature-list {
    flex-direction: column;
    align-items: flex-start;
  }

  /* Gallery */

  .gallery-grid {
    grid-template-columns: 1fr;
  }

  .gallery-left {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }

  .gallery-right {
    margin-top: 10px;
  }

  /* Reservation */

  .reservation-content {
    padding: 25px;
  }

  .reservation-input,
  .reservation-textarea {
    font-size: 16px;
  }

  /* Modal */

  .modal-content {
    width: 95%;
    padding: 20px;
  }

  .modal-title {
    font-size: 24px;
  }

  .modal-menu-list {
    grid-template-columns: 1fr;
  }

  /* Footer */

  .footer-content {
    flex-direction: column;
    gap: 25px;
  }

  .footer-info {
    width: 100%;
    flex-direction: column;
    gap: 10px;
    text-align: center;
  }

  .footer-links {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
