<section id="contact" class="contact">
  <h2>Contact.</h2>
  <p>
    Do you want us to style your home? Fill out the form and fill me in with the
    details :) We love meeting new people!
  </p>

  <form id="contactForm">
    <label for="name">Name</label>
    <input type="text" id="name" placeholder="Your Name" required />
    <small class="error" id="nameError"></small>

    <label for="email">Email</label>
    <input type="email" id="email" placeholder="Your Email" required />
    <small class="error" id="emailError"></small>

    <label for="message">Message</label>
    <input type="text" id="message" placeholder="Your Message" required  />
    <small class="error" id="messageError"></small>

    <button type="submit">Send Message</button>
  </form>
</section>
