<section id="packages" class="packages">
  <h2>Packages.</h2>
  <p>
    Some text our prices. Lorem ipsum consectetur adipiscing elit, sed do
    eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
    veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
    commodo consequat. Duis aute irure
  </p>

  <div class="package-list">
    <div class="package-card">
      <ul>
        <li class="package-header basic">Basic</li>

        <li>Floorplanning</li>

        <li>10 hours support</li>

        <li>Photography</li>

        <li>20% furniture discount</li>

        <li>Good deals</li>

        <li class="price">
          <h3>$199</h3>

          <span>per room</span>
        </li>

        <li>
          <button class="btn-basic">Sign Up</button>
        </li>
      </ul>
    </div>

    <div class="package-card">
      <ul>
        <li class="package-header pro">Pro</li>

        <li>Floorplanning</li>

        <li>50 hours support</li>

        <li>Photography</li>

        <li>50% furniture discount</li>

        <li>GREAT deals</li>

        <li class="price">
          <h3>$249</h3>

          <span>per room</span>
        </li>

        <li>
          <button class="btn-pro">Sign Up</button>
        </li>
      </ul>
    </div>
  </div>
</section>
