<section id="showcase" class="showcase">
  <div class="showcase-title">
    <h1>Interior Design</h1>
    <h2>Showcase.</h2>
  </div>

  <div class="gallery">
    <img src="image/atrium.jpg" alt="Concrete meets bricks" />
    <img src="image/kitchenconcrete.jpg" alt="Windows for the atrium" />
    <img
      src="image/bedroom.jpg"
      alt="Light, white and tight scandinavian design"
    />
    <img src="image/diningroom.jpg" alt="Bedroom and office in one space" />

    <img src="image/livingroom.jpg" alt="White walls with designer chairs" />
    <img src="image/livingroom2.jpg" alt="Scandinavian design" />
  </div>
</section>
