<nav id="sidebar-container" class="sidebar">
  <button id="closeSidebar" class="close-btn">Close Menu</button>

  <div class="company-name">
    <h2>
      Company <br />
      Name
    </h2>
  </div>

  <ul class="menu">
    <li>
      <a href="#home">Home</a>
    </li>

    <li>
      <a href="#showcase">Showcase</a>
    </li>

    <li>
      <a href="#services">Services</a>
    </li>

    <li>
      <a href="#designers">Designers</a>
    </li>

    <li>
      <a href="#packages">Packages</a>
    </li>

    <li>
      <a href="#contact">Contact</a>
    </li>
  </ul>
</nav>
<div class="overlay"></div>
